// Import page-specific CSS files here.
@import "home";

.text-center{
  font-size: 31px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card{
  margin-left: 3px;
  margin-bottom: 30px;
  height: 40vh;
}

.card a{
  text-decoration: none !important;
  color: #fff;
}

.bandeau {
  background: rgba(9,14,21,0.8);
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 40px;
  padding-left: 5px;
  padding-right: 10px;
  border-radius: 3px;
}

.prix {
  font-size: 20px;
}

.coloc {
  font-size: 12px;
}


.panels {
  min-height: 100vh;
  min-width: 10%;
  overflow: hidden;
  display: flex;
}

.panel {
  background:#6B0F9C;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  text-align: center;
  align-items:center;
  /* chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7, -0.11),
;
  background-size:cover;
  background-position:center;
  flex: 1;

}

.panel1 {
  background-image:url(https://kitt.lewagon.com/placeholder/cities/paris);
}
.panel2 {
  background-image:url(https://kitt.lewagon.com/placeholder/cities/marseille);
}
.panel3 {
  background-image:url(https://kitt.lewagon.com/placeholder/cities/lyon);
}
.panel4 {
  background-image:url(https://kitt.lewagon.com/placeholder/cities/bordeaux);
}

.panel.open{
  flex: 4;
}

