.show-title {
  text-align: center;
  margin-bottom: 5vh;
}

.carousel {
  margin-top: 2vh;
}

.apt-desc {
  justify-content: center;
}

ul {
  list-style-type: none;
}

.visit-form {
  align-items: center;
  justify-content: center;
}
