<h1>Les colocation à <%= params[:city].downcase.capitalize %> </h1>
<% @flats.each do |flat|%>
<p> Colocation de <%= flat.number_of_roomates%> personnes | <%= flat.flat_surface %> m² </p>
<% end %>


