<div class="container">
<<<<<<< HEAD
  <h3 class="text-center">Les colocations à <%= params[:city].downcase.capitalize %> </h3>
=======

<h1>Les colocations à <%= params[:city].downcase.capitalize %> </h1>

<% @flats.each do |flat|%>
<p> <%= link_to "Colocation de #{flat.number_of_roommates} personnes | #{flat.flat_surface} m²", flat %> </p>
<% end %>

<%= link_to "↩︎ Revenir à la Homepage", root_path %>

>>>>>>> 82e19f270a3f1a37a4c8d2b84e3c0c90c4e30090
</div>

<div class="panels">
  <div class="panel panel1"></div>
  <div class="panel panel2"></div>
  <div class="panel panel3"></div>
  <div class="panel panel4"></div>
</div>
