<div class="container">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/marseille');">
    <div class="banner-content">
      <h1>Trouve ta colocation facilement !</h1>
      <p>Consulte les annonces et contacte tes futurs colocs !</p>
      <div class ="row">
        <div class="col-md-6 col-md-offset-3">
          <div class ="input-group input-group-lg">
            <form action="/flats/index?" method="get">
              <input class="form-control" type="text" name="city" value="">
              <input class="btn btn-primary btn-lg" type="submit" value="Rechercher"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
<h3 class="text-center">Retrouvez les colocations dans les principales villes :</h3>
</div>
    <div class="col-xs-12 col-sm-4">
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">

  <div class="card-description">
    <h4>Marseille</h4>
  </div>
  <a class="card-link" href="#" ></a>
</div>
    </div>
    <div class="col-xs-12 col-sm-4">
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">

  <div class="card-description">
    <h4>Paris</h4>
  </div>
  <a class="card-link" href="#" ></a>
</div>
    </div>
    <div class="col-xs-12 col-sm-4">
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">

  <div class="card-description">
    <h4>Lyon</h4>
  </div>
  <a class="card-link" href="#" ></a>
</div>
    </div>
  </div>
</div>

</div>
