<div class="container">
  <h1>Trouve ta colocation</h1>

  <form action="/flats/index?" method="get">
    <input type="text" name="city" value="">
    <input type="submit" value="Rechercher"/>
  </form>
</div>
